@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&family=Open+Sans&family=Roboto+Condensed&display=swap');

.Form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_input {
  width: 1231px;
  height: auto;
  margin: 95px auto;
  margin-bottom: 30px;
  border-radius: 15px;
  border: 5px solid #972e17;

  box-shadow: 7px 7px 21px 5px rgba(0, 0, 0, 0.15);
}
#LogoMangue {
  width: 254px;
  height: 163px;
  margin-top: 142px;
  margin-left: 180px;
}
.header {
  display: flex;
  align-items: center;
}

h1 {
  margin-top: 208px;
  margin-left: 55px;
  font-family: Inria-sans;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
}
.checkBox {
  margin-top: 208px;
  margin-left: 66px;
  font-size: 23px;
  font-family: Inria-sans;
}
#checkpessoafisica {
  margin-right: 45px;
}

span {
  margin-left: 14px;
}
.form_inputs_dados {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 83px;
  margin-right: 179px;
  margin-top: 24px;
  margin-bottom: 47px;
  width: auto;
  height: auto;
}

.form_inputs_dados label {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  padding: 19px;
}
.form_inputs_dados input {
  width: 429px;
  height: 59px;
  border-radius: 10px;
  margin-right: 111px;
  border: 1px solid #5fb24e;
  padding: 20px;
  background: #f2f2f2;
}
.form-check-termos {
  width: 503px;
  height: 28px;
  margin-top: 46px;
}

#checkTermos{
  width: 21px;
  height: 21px;
}

#termos span {
  margin-left: 14px;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  cursor: pointer;
  width: 429px;
  height: 59px;
  padding: 12px;
  margin-top: 30px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inria Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #5fb24e;
}
@media screen and (min-width: 600px) {
  .Form {
    padding: 0 2rem;
    align-items: center;
  }

  .form_input {
    max-width: 600px;
    align-items: center;
    margin-left: auto;
  }
  .header{
   
    grid-template-rows: auto;
  }
  img{
    width: 100vw;
  }
 
  h1 {
    margin-top: 2rem;
    
  }

  .checkBox {
    margin-top: 2rem;
    margin-left: 2rem;
  }


  .form_inputs_dados {
    grid-template-columns: repeat(1, 1fr);
  }
  

  
}

@media screen and (min-width: 768px) {
  .form_input {
    max-width: 800px;
    align-items: center;
    margin-left: 27px;
  }
  .header{
    
    flex-direction: rows;
  }
  img{
    width: 100vw;
  }
 
  h1 {
    margin-top: 2rem;
    
  }

  .checkBox {
    margin-top: 2rem;
    margin-left: 2rem;
  }


  .form_inputs_dados {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .form_input {
    max-width: 1000px;
    margin-left: 82px;
    align-items: center;
  }

 
  .form_inputs_dados {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .Form{
    width: 100vw;
    align-items: center;
  }
  .form_input {
    max-width: 1231px;
    align-items: center;
    margin: 82pxauto;
  }
 .header{
  flex-direction: row-reverse;
 }
 
}

@media screen and (max-width: 480px) {
  .Form{
    width: 461px;
  }
  .form_input{
    margin-left: 27px;
  }
  
  h1 {
    margin-top: 1rem;
  }

  .checkBox {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .form_inputs_dados {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-left: 1rem;
  }

  .form_inputs_dados input {
    width: 100%;
    margin-right: 0;
  }

  .form_check_termos {
    width: 100%;
    margin-top: 1rem;
  }

  .checkTermostext {
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
  }

  button {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}